@using RazorPageDemos.Entities
@model Employee

<p>    
   @($"{Model.BusinessEntity.FirstName} {Model.BusinessEntity.MiddleName} {Model.BusinessEntity.LastName}")
        , Title: @Model.JobTitle    
</p>